$black-light-1: #2A323D;
$black-light-2: #1D232B;
$gray-light: #EDEEF0;
$gray-dark: #9DB0BF;
$blue-light: #4BB7F6;
$blue-medlight: #2CA9F2;
$blue-medium: #1999E4;
$green-light: #25C199;
$green-medium: #1BB48D;
$red: #E85164;
$background: $gray-light;