.status-survey-card{
    .card-body{
        display: flex;
        h2{
            border-left: 1px solid #CCDEEA;
            padding-left:20px;
            margin-left: 20px;
            &:after{
                
            }
        }
        .l-side{
            display:flex;
            justify-content:space-between;
            align-items: center;
            .status-explication{
                display: flex;
                .first-item{
                    display: flex;
                    align-items: self-start;
                    padding-left: 60px;
                    line-height: 21px;
                    @media (min-width: 1024px) and (max-width: 1540px) {
                        padding-left: 30px;
                    }
                    dt{
                        font-size: 16px;
                        font-weight: 400;
                        padding-left: 15px;
                        @media (min-width: 1024px) and (max-width: 1540px) {
                        }
                    }
                    dd{
                        font-weight: 600;
                        max-width: 430px;
                        @media (min-width: 1024px) and (max-width: 1540px) {
                            max-width: 340px;
                            font-size: 16px;
                        }
                    }
                }
                .status-item{
                    display: flex;
                    &> img{
                        margin: 0 16px 0 10px;
                    }
                }
                
            }
            .base-btn-500{
                @media (min-width: 1024px) and (max-width: 1540px) {
                    padding: 0 5px;
                }
            }
        }
    }
}
.card-tab-status-survey{
   .card-body{
       padding: 0;
   }
   .download-excel{
    display: block;
    margin-right: auto;
    padding: 0 0 5px 0;
    svg{
        width: 24px;
        height: 24px;
    }
  }
}
ul#statusSurveyTab.nav-tabs{
    border-bottom: 0;
    background-color: $blue-300;
    li.nav-item{
        margin-bottom: 0;
        cursor: pointer;
        a{
            background-color: $blue-300;
            border: 0;
            border-radius: 0;
            text-decoration: none;
            font-size:22px;
            font-weight:600;
            padding: 10px 30px;
            color:$blue-900;
            &:hover,&:active,&:focus{
                color:$blue-900;
            }
            &.active{
                background-color: #fff;
                border-top: 6px solid $blue-700;
                padding-top:4px;
            }
        }
    }
}
.tab-pane#summary-data{
    .inner-card{
        margin: 25px;
        &:nth-child(1){
            padding: 10px 15px;
        }
    }
    #collapse-portion{
        .collapse-content{
            display: flex;
            margin-top: 10px;
            flex-wrap: wrap;
            #statusPortionTab{
                width:100%;
            }
            .progress-wrapper{
                padding:0;
                margin-left: 50px;
                a{
                    text-decoration:none;
                    padding: 5px 15px;
                    &.active{
                        background-color: $white;
                        border-radius: 5px;  
                    }
                }
                h5{
                    color:$black;
                    font-size:20px;
                    font-weight:600;
                    margin-bottom: 8px;
                }
                .progress{
                    height: 7px;
                    border-radius: 12px;
                    background: #D3D3D3;
                    .progress-bar{
                        background-color: $blue-900;
                    }
                }
            }
        }
    }
    .graphs-wrapper{
        display: flex;
        .r-side{
            width: 372px;
            .graph-wrap{
                position: relative;
                .survey-result{
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform:translate(50%,-50%);
                    h2{
                        color:#2AB4C0;
                        font-size: 60px;
                        font-weight: 100;
                        text-align: center;
                    }
                    h3{
                        color:$blue-900;
                        font-weight: 600;
                        text-align: center;
                        font-size: 30px;
                    }
                }
            }
            .result-graph{
                margin-top: 60px;
                .result-graph-item{
                    margin: 0px 25px 25px 25px;
                    border-right: 5px solid;
                    padding-right:15px;
                    dt{ 
                       font-size: 29px;
                       letter-spacing: -0.29px;
                       font-weight: 600;
                       line-height: 29px;
                    }
                    dd{
                        color: #000;
                        font-size: 25px;
                        line-height: 25px;
                        letter-spacing: -0.25px;
                    }
                    &:nth-child(1){
                        border-color: $blue-500;
                        dt{
                            color: $blue-500;
                        }
                    }
                    &:nth-child(2){
                        border-color: $blue-700;
                        dt{
                            color: $blue-700;
                        }
                        
                    }
                    &:nth-child(3){
                        border-color: $blue-900;
                        dt{
                            color: $blue-900;
                        }
                    }
                }
            }
        }
        .inner-card.l-side{
            width: calc(100% - 414px);
            position: relative;
            .btn-zoom-wrapper{
                position: absolute;
                left: 0;
                display: block;
                top: 65px;
                .btn-item{
                    display: block;
                    width: 36px;
                    height: 36px;
                    background-color: #fff;
                    margin-bottom: 2px;
                    box-shadow: 0px 2px 2px #00000029;
                }
            }
        }
    }
    .genral-info{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 25px;
        .form-grup{
            position: relative;
            &:after{
                content:'';
                position: absolute;
                left: 6px;
                top: 9px;
                height: 15px;
                border: 1px solid #000;
            }
        }
        h5{
            font-size: 17px;
            color: #000;
        }
        .gradient-bar{
            border-radius: 15px;
            width: 97px;
            height: 16px;
            margin: 0 10px;
            background: transparent linear-gradient(270deg, #CE3C45 0%, #FFDD00 50%, #44BC20 100%) 0% 0% no-repeat padding-box;
        }
    }
    .tab-pane#all-portion{
        .graphs-wrapper{
            .r-side{
                & > .inner-card{
                    display: flex;
                    align-items: center;
                    padding:25px 12px;
                    .graph-wrap{
                        .survey-result{
                            h2{
                                font-size: 30px;
                            }
                            h3{
                                font-size: 15px;
                            }
                        }
                    }
                    .result-graph{
                        margin-top: 15px;
                        .result-graph-item{
                            margin: 0px 6px 10px 6px;
                            padding-right: 6px;
                           dt{
                            font-size: 18px;
                            line-height: 18px;
                           }
                           dd{
                            font-size: 17px;
                            line-height: 17px;
                           } 
                        }
                    }
                }
            }
        }
    }
}

.tab-pane#general-data{
   .general-data-content{
       margin: 0 25px;
       .top-data{
           display: flex;
           margin: 50px 0 40px;
           .top-data-item{
               width: 20%;
               height: 153px;
               padding: 15px;
               margin-left: 20px;
               .top-data-content{
                display: flex;
                justify-content: space-between;
                .r-side{
                    .number-title{
                        font-size: 23px;;
                        letter-spacing: -0.23px;
                        color:#286397;
                    }
                    .action-title{
                     font-size: 30px;
                     color: $blue-900;
                     letter-spacing: -0.3px;
                    }
                }
               }
               .progress-wrapper{
                   margin-top:25px;
                   .progress{
                    height: 8px;
                    border-radius: 7px;
                   }
               }
               &:nth-child(1){
                   background-color: rgba(40, 99, 151, 0.1);
                   .progress-wrapper{
                    .progress{
                        background-color: rgba(40, 99, 151, 0.3);
                        .progress-bar{
                            background-color: rgb(40, 99, 151)
                        }
                    }
                   }
               }
               &:nth-child(2){
                   background-color: rgba(67, 132, 139, 0.1);
                .progress-wrapper{
                 .progress{
                     background-color: rgba(40, 99, 151, 0.3);
                     .progress-bar{
                         background-color: rgb(40, 99, 151);
                     }
                 }
                }
            }
            &:nth-child(3){
                background-color: rgba(104, 174, 213, 0.1);
                .progress-wrapper{
                 .progress{
                     background-color: rgba(104, 174, 214, 0.3);
                     .progress-bar{
                         background-color:rgb(104, 174, 214);
                     }
                 }
                }
            }
            &:nth-child(4){
                background-color: rgba(0, 141, 177, 0.1);
                .progress-wrapper{
                 .progress{
                     background-color: rgba(1, 144, 156, 0.3);
                     .progress-bar{
                         background-color: rgb(1, 144, 156);
                     }
                 }
                }
            }
            &:nth-child(5){
                background-color: rgba(1, 125, 194, 0.1);
                margin-left: 0;
                .progress-wrapper{
                 .progress{
                     background-color:rgba(1, 125, 194, 0.3);
                     .progress-bar{
                         background-color:rgb(1, 125, 194);
                     }
                 }
                }
            }
           }
       }
       .list-respondent-campaign{
           .inner-card{
               margin-top:10px;
               .list-campaign-form{
                .row{
                    align-items: flex-end;
                    .form-group{
                        margin-left: 30px;
                    }
                }
            }
           }
       }
       .table-wrapper.survey-card{
          margin-bottom: 30px;
       }
   } 
}

.tab-pane.active#population-ration{
   .card-portion-details{
       display: block;
       .card-body{
        padding: 25px 25px;
            .add-portion-item{
                .r-side.form-group{
                    width: 150px;
                }
                .l-side-portion{
                    width: calc(100% - 150px);
                    justify-content: space-between;
                    .btns-wrapper{
                        position: relative;
                        &:before{
                            content:'';
                            position:absolute;
                            right:-10px;
                            top:5px;
                            border: 1px solid #CCDEEA;
                            height: 24px;
                        }
                        .download-excel{
                            float: right;
                            margin-left: 10px;
                            svg{
                                width:24px;
                                height:24px;
                            }
                        }
                        .stop-portion{
                            width: 67px;
                            padding: 0;
                            height: 24px;
                            font-size: 16px;
                        }
                    }
                }
            } 
       }
   } 
}

.tab-pane#survey-results,.tab-pane#survey-questions{
    margin:25px;
    .card-body{
        //padding: 25px 25px;
        .list-campaign-form{
            .row{
                align-items: flex-end;
                .form-group{
                    margin-left: 30px;
                }
            }
        }
    }
    .question-section ol.question-content{
        li{
            display:flex;
            &:nth-child(1){
                margin-top:0;
            }
            &.paragraph-answer-2{
                display:none;
                background-color: #CCDEEA;
            }
        }

    } 
    .portion-title{
        display: flex;
        margin-bottom: 25px;
        align-items: center;
        .sub-title{
            margin-left: 10px;
        }
        .sub-title-dark{
            color: #000;
        }
    }
    .sub-title-bold{
        color: #000;
        font-weight: 600;
        font-size: 16px;
    }
    .inner-card{
        .portion-section{
            border-bottom: 1px solid #CCDEEA;
            margin-bottom: 20px;
            .progress-row{
                margin-bottom: 40px;
                &:last-child{
                    margin-bottom:20px;
                }
                .progress-wrapper{
                    display: flex;
                    align-items: center;
                    .sub-title-bold{
                        width: 85px;
                    }
                    .progress-side{
                        width: calc(100% - 90px);
                        position: relative;
                        .progress{
                            background: #D3D3D3;
                            width: 92%;
                            height: 7px;
                            border-radius: 12px;
                            label{
                                position: absolute;
                                color: #323A6B;
                            }
                            .label-k{
                                margin-right:-25px;
                                color: #323A6B;
                                margin-top: -10px;
                            }
                            .label-k-total{
                                right: 92%;
                                margin-right: 15px; 
                            }
                            .progress-bar{
                                &.progress-bar-blue{
                                    background: transparent linear-gradient(270deg, #498BB6 0%, #25465B 100%) 0% 0% no-repeat padding-box;
                                    border-radius: 0;
                                }
                                &.progress-bar-green{
                                    background: transparent linear-gradient(270deg, #558B36 0%, #355920 100%) 0% 0% no-repeat padding-box;
                                    border-radius: 1px;
                                }
                                &.progress-bar-red{
                                    background: transparent linear-gradient(270deg, #CE3C45 0%, #671E23 100%) 0% 0% no-repeat padding-box;
                                    border-radius: 12px 0px 0px 12px;
                                }
                            }
                        }
                    }
                }
                .progess-bar-results{
                    display: flex;
                    margin-top: 5px;
                    .result-item{
                        position: relative;
                        margin-left: 25px;
                        display: flex;
                        dt{
                            margin: 0 18px 0 10px;
                            font-size:13px;
                            &:before{
                                content:'';
                                width:10px;
                                height:10px;
                                border-radius: 50%;
                                position: absolute;
                                right: 0px;
                                top: 5px;  
                            }
                        }
                        dd{
                            font-size:13px;
                        }
                        &.blue-result{
                            dt{
                                &:before{
                                    background: transparent linear-gradient(270deg, #498BB6 0%, #25465B 100%) 0% 0% no-repeat padding-box;
                                }
                            }
                        }
                        &.green-result{
                            dt{
                                &:before{
                                    background: transparent linear-gradient(270deg, #558B36 0%, #355920 100%) 0% 0% no-repeat padding-box;
                                }
                            }
                        }
                        &.red-result{
                            dt{
                                &:before{
                                    background: transparent linear-gradient(270deg, #CE3C45 0%, #671E23 100%) 0% 0% no-repeat padding-box;
                                }
                            }
                        }
                    }
                }
            }
        }
        .portion-section:last-child{
            border-bottom:0;
        }
    }

 
}
.tab-pane#survey-results{
    .question-section ol.question-content{
        .question-item {
            &:hover{
                & + .paragraph-answer-2{
                    display:flex;
                }
            }
        }
    } 
}
.tab-pane#permission-details{
    .new-survey-tab-content{
        padding: 25px;
        #permission-detail-summary{
            display: flex;
            justify-content: space-between;
            width: 100%;
            dl{
                display: flex;
                dt{
                    margin-left: 10px;
                }
                dd{
                    margin-left: 60px;
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
/**
* Modal Copy Campaign
*/
.modal-copy-campaign{
    .copy-campaign-form{
        .modal-content-copy{
            p{
                margin-bottom: 25px;
            }
            .form-group{
                .custom-checkbox{
                   margin-bottom: 15px; 
                   .custom-control-label{
                       padding-right: 20px;
                   }
                }
            }
            .form-group-checkbox-portion{
                margin-right: 45px;
            }
            .form-group.select-portion{
                margin-right: 45px;
                .dropdown.bootstrap-select{
                    width:312px!important;
                    .dropdown-toggle{
                        width:100%;
                        border: 1px solid #cccccc;
                        border-radius: 0;
                    }
                }
            }
        }
    }

}

/**
* Modal Edit Campaign
*/
.modal-edit-campaign{
    .edit-campaign-form{
        .modal-body{
            padding: 20px 30px;
            .modal-content-edit{
                width:100%;
                .form-group{
                    margin-bottom: 20px;
                    .form-control{
                        width: 100%;
                    }
                }
            }
        }
    }

}

/**
* Modal Log Campaign
*/

.modal-body.survey-card{
    padding: 35px 35px;
    margin: 0;
}