$static-column-widths: (
        order: 35px,
        actions: 78px,
);
$relative-column-widths: (
        name: 1,
);

.campaign-messages-list {
	border: 1px solid #e0e0e0;
    font-weight: 600;
    $static-width-total: map-sum($static-column-widths);
  	$relative-remainder: (100% - #{$static-width-total});

    &__cell {
	    padding: 6px 14px;
	    text-align: center;
	    display: inline-flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: stretch;
	    align-content: stretch;

	    @each $column, $width in $static-column-widths {
	      &_col_#{$column} {
	        width: $width;
	      }
	    }
	    @each $column, $width in $relative-column-widths {
	      &_col_#{$column} {
	        width: calc((#{$relative-remainder}) * (#{$width * 1}));
	      }
	    }
	    & + & {
	      border-right: 1px solid rgba(0,0,0,0.12);
	    }
    }
}

.campaign-message-list-header {
	font-weight: 600;
}
