.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f5f6fa;

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    height: 100%;
  }

  &__modal-break {
    width: 400px;
  }
}

.dashboard .dashboard__modal-break .mwindow .mwindow-container .mwindow-header {
  display: none;
}

.dashboard .dashboard__modal-between-calls .mwindow .mwindow-container .mwindow-header {
  display: none;
}

.dashboard .dashboard__modal-between-calls .mwindow .mwindow-container .mwindow-body {
  width: 600px;
  background-color: #2f353f;
}