.modal-break {
  &__row-bell {
    margin-top: 28px;
    margin-bottom: 11px;
  }

  &__row-campaign {
    color: #4bb7f6;
    font-weight: bold;
  }

  &__row-ticker-break {
    font-size: 45px;
    color: #2a323d
  }

  &__row-total-tickers {
    display: flex;
    justify-content: space-around;
  }

  &__column-total-break-header, &__column-total-activity-header {
    background-color: #f3f3f3;
    padding-right: 9px;
    padding-left: 9px;
  }

  &__column-total-activity-ticker, &__column-total-break-ticker {
    color: #4bb7f6;
    font-weight: bold;
  }
}

