@import "dashboard";
@import "support-status";


.dashboard-header {
	background-color: $blue-light;
}

.dashboard-row {
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    &__item {
    	width:50%;
    	border:1px solid black;
    }
}

.upper {
	background-color: black;
	color: white;
	height: 30px;
	padding:5px;
}