.filter-type-summary {
  flex-basis: 25%;
  padding: 22px 12px;

  & + & { // all but the first
    border-right: 1px solid #e0e0e0;
  }
  &:nth-child(n+5) { // all but the first row
    border-top: 1px solid #e0e0e0;
  }
  &:nth-child(4n+1) { // first column
    border-right: none;
  }
}