.filter-type-summary-item-list {
  margin: 5px 15px 5px 0;
  position: relative;
  display: none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-right: 1px solid #bdbdbd;
    top: -5px;
    right: -10px;
    height: calc(100% + 10px);
  }
  .filter-type-summary_expanded & {
    display: block;
  }
}