.filter-type {
  margin: 4px 0;
  background: #FFFFFF;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  &_full-width {
    width: 100%;
  }
}

.filter-type-component {
  &__group-name,
  &__sub-group-name {
    background: #ddeaf2;
    color: #1698f8;
    display: block;
    font-weight: normal;
    padding: 8px 12px;
  }
  &__group-name.election_campaign,
  &__sub-group-name.election_campaign {
    background: #1698f8;
    margin: 5px 20px;
    padding: 1px;
  }
  &__fields {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .add-campaign {
    color:#e71e62;
    margin-right: 20px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    &.disabled{
      cursor: default;
    }
  }
  .remove-campaign {
    color:#1698f8;
    margin-top: 30px;
    cursor: pointer;
  }
  .remove-combined {
    color:#1698f8;
    cursor: pointer;
  }
  &:after {
    content: '';
    display: block;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    flex-grow: 1;
    margin-bottom: -1px;
  }
}

.additional-filters__filters .filter-type-component__group:last-of-type .filter-field input:focus{
 
}