.filter-type-summary-item {
  margin: 5px 15px 5px 0;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-right: 1px solid #bdbdbd;
    top: -5px;
    right: -10px;
    height: calc(100% + 10px);
  }

  &__value {
    margin: 5px 15px 5px 0;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    line-height: 22px;
    padding: 0 12px 0 4px;
    font-size: 13px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      border-right: 1px solid #bdbdbd;
      top: -6px;
      right: -10px;
      height: calc(100% + 12px);
    }
  }
}