.voter-filter {
  overflow: hidden;
  height: 100%;
  max-height: calc(100vh - 200px);
  position: relative;
  padding-bottom: 70px;

  &__footer {
    background: #ecedf1;
    color: #606060;
    font-size: 14px;
    padding: 0 15px;
    height: 48px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include prefix(box-shadow, 0px 0px 1px 0px rgba(50, 50, 50, 0.75));
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__save-btn {
    padding: 5px 25px;
    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("images/save-icon-silhouette_white.svg") center / contain no-repeat;
      margin: -3px -10px 0 10px;
      vertical-align: middle;
    }
  }
}
.voter-filter__sections {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 48px);
  max-height: calc(100vh - 288px);
  position: relative;
  direction: ltr;
}
.voter-filter-section {
  margin: 0 15px 20px;
  position: relative;
  direction: rtl;
  &__header {
    border-bottom: 1px solid #e0e0e0;
    line-height: 40px;
    margin-bottom: 5px;
    color: #327ea2;
    font-size: 20px;
    font-weight: 600;
  }
  &__title {
    margin-bottom: 4px;
  }
  &__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }
  &__expand-btn {
    margin-left: 10px;
    margin-top: 11px;
  }

  .form-control {
    height: 26px;
    font-size: 13px;
    padding: 3px 12px;
  }
  .form-combo > i {
    top: 5px;
  }
}
