
.navbar-default {
    background-color:#323a6b;
}
.ToggleMenu {
    display:inline-block;
    vertical-align:top;
    width:22px;
    height:20px;
    cursor:pointer;
    margin:20px 20px 0 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    span {
        width:21px;
        height:2px;
        background-color:#ffffff;
        display:block;
        margin-bottom:4px;
        transition:all ease-in 0.15s;
        -moz-transition:all ease-in 0.15s;
        -ms-transition:all ease-in 0.15s;
        -o-transition:all ease-in 0.15s;
        -webkit-transition:all ease-in 0.15s;
        opacity:0.6;
    }
}

.ToggleMenu:hover > span {
    opacity:1;
}
//******************************** Sidebar

.SidebarWrapper {
    z-index:1000;
    position:fixed;
    top: 0;
    width:320px;
    height:100%;
    height:calc(100% - 55px);
    height:-webkit-calc(100% - 42px);
    height:-moz-calc(100% - 42px);
    /*height:-o-calc(100% - 42px);*/
    overflow-y:auto;
    background:#323a6b;
    transition:right ease 0.3s;
    -moz-transition:right ease-in-out 0.3s;
    -ms-transition:right ease-in-out 0.3s;
    -o-transition:right ease-in-out 0.3s;
    -webkit-transition:right ease-in-out 0.3s;
    margin:51px 0 0 0;
    &.Toggle{
        right:-320px;
    }
    .Sidebar {
        padding:10px;
        padding: 0 10px 0 0;
        li {
            width: 280px;
            color: white;
            a, a:active, a:focus{
                padding:5px 10px;
                color:white;
                background-color:inherit;
                white-space:nowrap;
                text-decoration: none;
                display: block;
            }
            a:hover{
                cursor:pointer;
            }
        }
    }
}

.QuickNav {
    color:#ffffff;
    background-color:transparent;
    border:1px solid #ffffff;
    height:37px;
    padding:0px 7px;
    border-radius:5px;
    transition:all ease-in 0.15s;
    -moz-transition:all ease-in 0.15s;
    -ms-transition:all ease-in 0.15s;
    -o-transition:all ease-in 0.15s;
    -webkit-transition:all ease-in 0.15s;
    width:90%;
    margin:10px 15px 0 0;
    &focus {
        background-color:transparent;
        outline:none;
        color:#ffffff;
    }
}

#menuli0 {
    display:none;
}