#login_error {
  font-weight: bold;
  color: red;
}

.login-form {
	margin-top: 150px;
	font-family:"Assistant", sans-serif;
}

#error {
  font-weight: bold;
  color: red;
}

.resetPasswordMessage {
    margin-bottom: 10px;
    color: #cc0000;
}

#sms_error {
    font-weight: bold;
    color: red;
}

.password-strength {
    margin-bottom: 10px;
}

.weak {color: red;}

.strong {color: green;}

.strength-element {margin-left: 5px;}

.maintenance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  font-family:"Assistant", sans-serif;
  font-size: 40px;
}