
@media (min-width:1500px) {
    .container {width:1400px
    }
}
@media (max-width:1499px) {
    .timeTprogress ul.progressStages li {
        padding-left: 47px;
    }
    .timeTprogress ul.progressScales li {
        padding-left: 95px;
    }
    .timeTprogress ul.progressScales li:first-child {
        padding-left: 16px;
    }
}

@media (min-width: 992px){

    .electorDtlsData .firstCol{
        width: 23%;
    }

    .electorDtlsData .secondCol{
        width: 30%;
    }

    .electorDtlsData .thirdCol{
        width: 30%;
    }

    .halfCol{
        width: 48%;
    }

    .halfCol:first-child{
        margin: 0 1% 0 2%;
    }

    .userLogin{
        padding-right: 14px;
    }

    .electorDtlsRow {
        padding-top: 5px;
    }

    .inqryDetailsPanel .firstCol{
        width: 36.5%;
    }

    .inqryDetailsPanel .secondCol{
        width: 36.5%;
    }

    .inqryDetailsPanel .lastCol{
        width: 27%;
    }

    .electorDtlsStrip .lastCol{
        padding: 0;
    }

    .col-md-5ths {
        width: 20%;
        float: right;
    }
}

@media (max-width: 1200px){

    .timeTprogress ul.progressStages li {
        padding-left: 25px;
    }
    .timeTprogress ul.progressScales li {
        padding-left: 75px;
    }
    .timeTprogress ul.progressScales li:first-child {
        padding-left: 13px;
    }
    .showMoreBTN { 
        background-position: 4% 50%;
        padding: 3px 5px 3px 14px;
    }
    .quickAccess .col-lg-2{
        padding-right: 27px;
    }

    .electorDtlsStrip  .lastCol{
        height: 160px;	
    }

    .elctrBtns .btn-default.fixedWidth {
        width: 45%;
        margin-left: 10px;
    }

    .electorDl dt{
        width: 105px;
    }

    .electorDl dd{
        margin-right: 130px;
    }


    .TopSearchArea{
        width: 200px;
    }

    .TopSearchArea input{
        width: 150px;
    }

    .electorDtlsData dl{
        margin-top: 18px;
    }

    .electorDtlsData .dl-horizontal dd{
        text-align: right;

        .quickAccessContainer{
            height: 52px;
        }

        .quickAccess {
            font-size: 16px;
        }

        .quickAccess .col-md-2{
            padding: 18px 21px 18px 0;
        }

        .newCaseBtn{
            background-size:17%;
        }

        .newCaseBtn:hover,
            .newCaseBtn .active{
            background-size:17%;
        }

        .newActionBtn{
            background-size:17%;
        }

        .newActionBtn:hover,
            .newActionBtn .active{
            background-size:17%;
        }

        .callBtn{
            background-size:17%;
        }

        .callBtn:hover,
            .callBtn .active{
            background-size:17%;
        }

        .sendMailBtn{
            background-size:17%;;
        }

        .sendMailBtn:hover,
            .sendMailBtn .active{
            background-size:17%;
        }

        .sendSmsBtn{
            background-size:17%;
        }

        .sendSmsBtn:hover,
            .sendSmsBtn .active{
            background-size:17%;
        }

        .attachBtn{
            background-size:17%;
        }

        .attachBtn:hover,
            .attachBtn .active{
            background-size:17%;
        }

    }


    @media (max-width: 992px) and (min-width: 769px){


        .electorDtlsStrip  .secondCol{
            width: 37.5%;
        }
        .electorDtlsStrip  .thirdCol{
            width: 37.5%;
        }

        .electorDtlsStrip  .lastCol{
            width: 25%;
            height: 160px;	
        }
    }




}

@media (max-width: 992px){

    .focusGroup{
        margin: 15px 0 0 0;
    }

    .TopSearchArea{ 
        width: 350px;
        padding:15px;
        position: absolute;
        top: 50px;
        left: 2px;
        border-radius: 4px;
        color: #333333;
        z-index: 999;
        background-color: #323A6B;
    }

}

@media (max-width: 768px) and (min-width: 426px){
    .electorDtlsStrip  .lastCol{
        height: 187px;	
    }

    .textLInk.identifyUser{
        bottom: 40px;
    }
}

@media (max-width: 768px){

    .quickAccessContainer{
        margin-bottom: -17px;
    }

    .quickAccess{
        font-size: 14px;
    }

    .quickAccess .col-lg-2{
        padding: 35px 12px 11px 12px;
    }

    .quickAccess a{
        line-height: 15px;
        text-align: center;
    }

    .accessBtn{
        padding: 30px 0 0 0;
        font-size: 14px;
    }

    .newCaseBtn{
        background-position: 50% 20%;
    }

    .newCaseBtn:hover,
    .newCaseBtn .active{
        background-position: 50% 20%;	
    }

    .newActionBtn{
        background-position: 50% 20%;
    }

    .newActionBtn:hover,
    .newActionBtn .active{
        background-position: 50% 20%;
    }

    .callBtn{
        background-position: 50% 20%;
    }

    .callBtn:hover,
    .callBtn .active{
        background-position: 50% 20%;
    }

    .sendMailBtn{
        background-position: 50% 20%;
    }

    .sendMailBtn:hover,
    .sendMailBtn .active{
        background-position: 50% 20%;
    }

    .sendSmsBtn{
        background-position: 50% 20%;
    }

    .sendSmsBtn:hover,
    .sendSmsBtn .active{
        background-position: 50% 20%;
    }

    .attachBtn{
        background-position: 50% 20%;
    }

    .attachBtn:hover,
    .attachBtn .active{
        background-position: 50% 20%;
    }

    .halfCol:first-child{
        margin: 0 0 20px 0;
    }

    .generalItem{
        height: 160px;
    }

    .userLogin .glyphicon{
        padding: 8px 14px 8px 3px;
    }

}

@media (min-width: 768px){

    .halfCol{
        width: 48%;
    }

    .halfCol:first-child{
        margin: 0 1% 0 2%;
    }

    .form-horizontal .control-label {
        text-align: right;


    }

    @media (max-width: 769px){

        .newCaseBtn{
            background-position: 50% 20%;
        }

        .newCaseBtn:hover,
            .newCaseBtn.active{
            background-position: 50% 20%;	
        }

        .newActionBtn{
            background-position: 50% 20%;
        }

        .newActionBtn:hover,
            .newActionBtn .active{
            background-position: 50% 20%;
        }

        .callBtn{
            background-position: 50% 20%;
        }

        .callBtn:hover,
            .callBtn .active{
            background-position: 50% 20%;
        }

        .sendMailBtn{
            background-position: 50% 20%;
        }

        .sendMailBtn:hover,
            .sendMailBtn .active{
            background-position: 50% 20%;
        }

        .sendSmsBtn{
            background-position: 50% 20%;
        }

        .sendSmsBtn:hover,
            .sendSmsBtn .active{
            background-position: 50% 20%;
        }

        .attachBtn{
            background-position: 50% 20%;
        }

        .attachBtn:hover,
            .attachBtn .active{
            background-position: 50% 20%;
        }

        .inqryPanel{
            height: 350px;
        }

        .inqryPrrty{
            font-size: 14px;
        }

        .inqryPrrty img{
            width: 28%;
            height: 28%
        }

        .inqryStatus{
            float: right;
            font-size: 14px;
        }

        .inqryStatus img{
            width: 25%;
            height: 25%
        }
        .inqrySubject {
            height: 180px;
            overflow: hidden;
        }
        .panelInnerCol{
            height: 240px;
        }

        .electorDl dt{
            margin-left: 140px;
            line-height: 25px;
        }

        .electorDl dd{
            margin-right: 0;
        }
    }

    @media (max-width: 425px){

        .electorDtlsStrip{
            padding-bottom: 0;
        }

        .quickAccessContainer{
            height:60px;
            margin-bottom: -8px;
        }

        .quickAccessContainer .col-xs-2{
            padding: 0 8px 0 0;
        }

        .AccessColLeft{
            border-right:  1px solid #DCE2E0;
        }

        .quickAccessContainer .textLink{
            padding: 15px 0 0 0;
            line-height: 16px;
        }

        .accessBtn{
            height: 60px;
            width: 30%;
        }

        .generalItem{
            height: 100px;
        }

        .itemCounter{	
            font-size: 35px;
        }

        .itemTitle{
            font-size: 25px;
        }	

        .inqryPanel{
            height: 550px;
        }

        .inqryStatus{
            float: right;
            margin-right: 10px;
        }

        .inqryCategories{
            margin-bottom: 20px;
        }

        .panelInnerCol:first-child{
            border: none;
        }
        .panelInnerCol{
            height: 160px;
        }

        .allRights{
            text-align: center;
        }

        .ToggleMenu{
            margin: 20px 0px 0 13px;
        }	

        .systemName img{
            width: 19%;
        }

        .systemName{
            border: none;
            padding: 10px 0;
        }
        .breadcrumb{
            display: none;	
        }

        #menuli0{
            display: inherit;
        }

        .userName{ 
            padding-right: 6px;
        }

        .breadCrumbsStrip {
            padding: 73px 0 0 0;
        }

        .elctorRslts{
            margin-top: 15px;
        }

        .electorDl dd{
            line-height: 35px;

        }
        .rsltsTitleRow .textLInk.Larger.pull-left{
            float: none !important;
        }

        .electorDtlsStrip  .lastCol{
            height: 200px;
        }

        .textLInk.identifyUser{
            margin: 0 15px 0 0;
        }

        .electorDtlsData .wideBtn{
            width: 92%;
            margin: 0 15px 0 0;
            bottom: -2px;
        }

        @media (max-width: 320px){

            .btnAddNew{
                background-image: none;
                padding: 3px 10px;
                margin-top: 5px;
                font-size: 14px;
            }

            .panelInnerCol{
                height: 185px;
            }

            .SidebarWrapper{
                width: 300px;
            }

            .srchPanelBottom{
                padding: 0 15px 0 0;
            }

            .clearField {
                margin: 0;
                display: inherit;
            }
        }
    }
}