.campaign-list-page {
  background-color: #f4f6fa;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__list {
    padding: 38px 83px 40px 98px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
  }
}