.campaign-list-header {
  background-color: white;
  border-bottom: solid 1px rgba(214, 214, 214, 0.32);

  &__current-time {
    margin-right: 20px;
  }
  &__log-out {
    width: 39px;
    height: 100%;
    color: $blue-light;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    border-right: 1px solid #445567;
    cursor: pointer;
    text-decoration: none;
  }

  &__main {
    position: relative;
    padding: 23px 53px;
    box-sizing: border-box;
    max-width: 1205px;
    margin: auto;

    // Arrow styles
    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 15px 0 15px;
      border-color: rgba(214, 214, 214, 0.32) transparent transparent transparent;
      bottom: -17px;
      right: 82px;
    }
    &:after {
      border-color: white transparent transparent transparent;
      bottom: -15px;
    }
  }

  &__welcome-greeting {
    margin: 3px 0;
    height: 25px;
    font-size: 25px;
    line-height: 0.95;
    color: $black-light-1;
  }
  &__greeting-name {
    font-weight: bold;
  }
}
