.header {
  &__call {
    display: flex;
    height: 26px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    &_status_active {
      background: #f0fffc;
      color: $green-light;
    }
    &_status_finished {
      background: #ffeef0;
      color: #da4453;
    }
  }
  &__main-content {
    height: 106px;
    padding: 0 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $blue-light;
    color: white;
  }
}