.modal-send-email {
  text-align: start;

  &__header-email, &__header-subject, &__header-message {
    color: #8690a2;
    font-size: 14px;
    font-weight: bold;
  }

  &__form-input-email-error, &__form-input-subject-error, &__form-input-message-error {
    border: 1px solid #e35065;
    color: #e35065;
    background-color: #fdf3f4;
  }

  &__form-input-email-valid, &__form-input-subject-valid, &__form-input-message-valid {
    border: 1px solid #38c199;
    color: #38c199;
    background-color: #f0fbf7;
  }

  &__form-input-message-error, &__form-input-message-valid {
    width: 318px;
    height: 100px;
  }

  &__form-input-email-error, &__form-input-subject-error, &__form-input-email-valid, &__form-input-subject-valid {
    width: 321px;
  }
}