.header-upper {
  background: $black-light-1;
  color: white;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  font-size: 13px;
  &__user-info,
  &__call-info {
    flex-basis: 50%;
  }
  &__user-info {
    color: #7a97b6;
    display: flex;
    align-items: center;
  }
  &__user-icon {
    height: 15px;
    width: 15px;
    background: url("./images/user-head.svg") center no-repeat;
    display: inline-block;
    margin-left: 6px;
  }
  &__user-name {
    font-weight: bold;
  }
  &__user-ext {
    &:before {
      margin: 0 4px;
      content: '- #';
      display: inline-flex;
    }
  }
  &__break-request-btn {
    min-width: 23px;
    height: 23px;
    background: url("./images/break-stop.svg") right center no-repeat;
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
    &:hover {
      background-image: url('./images/break-stop_hover.svg');
      &:after {
        margin-right: 28px;
        color: #e1636f;
        font-size: 12px;
      }
    }
  }
  &__campaign {
    flex-shrink: 0;
    text-align: center;
    font-size: 17px;
  }
  &__call-info {
    color: #acb3be;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;

  }
  &__timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    & + & {
      margin-left: 14px;
      border-left: 1px solid #445567;
      padding-left: 14px;
    }
  }
  &__timer-label {
    margin-left: 6px;
  }
  &__timer-value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    padding-top: 1px;
    width: 58px;
    border-radius: 4px;
    background: #3a4755;
    color: #acb3be;
    font-weight: bold;
  }
}