/* p {
    margin-top: 30px;
    margin-bottom: 30px;
} */
.tooltipp {
    position: relative;
}
.tooltipp-trigger {
    display: inline-block;
    /* text-decoration: underline; */
    cursor: pointer;
}
.tooltipp-bubble {
    min-width: 120px;
    max-width: 210px;
    position: absolute;
    z-index: 10;
}
.tooltipp-bubble::after {
    content: '';
    position: absolute;
}
.tooltipp-top {
    bottom: 100%;
    left: 50%;
    padding-bottom: 9px;
    transform: translateX(-50%);
}
.tooltipp-top::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid rgba(0, 0, 0, .7);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.tooltipp-bottom {
    top: 100%;
    left: 50%;
    padding-top: 9px;
    transform: translateX(-50%);
}
.tooltipp-bottom::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(0, 0, 0, .7);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.tooltipp-left {
    top: 50%;
    right: 100%;
    padding-right: 9px;
    transform: translateY(-50%);
}
.tooltipp-left::after {
    border-left: 9px solid rgba(0, 0, 0, .7);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.tooltipp-right {
    top: 50%;
    left: 100%;
    padding-left: 9px;
    transform: translateY(-50%);
}
.tooltipp-right::after {
    border-right: 9px solid rgba(0, 0, 0, .7);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.tooltipp-message {
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.4;
    padding: 0.75em;
    text-align: center;
}