table{
    min-height: 300px;
}

.ExcelColumnParser{
    th{
        min-width: 150px;
        font-weight:normal

    }

    tr.header{
        background-color: aliceblue;
        font-weight: bold;

        th{
            font-weight: bold !important; 
        }
    }
}

.error-txt{
    color: red;
}