.navbar-default {
    background-color:#337ab7;
    border-color:#296598;
    .navbar-brand {
        color:#ecf0f1;
        &:hover, &:focus {
            color:#d9d9d9;
        }
    }
    .navbar-text {
        color:#ecf0f1;
    }
    .navbar-nav > {
        li > a {
            color:#ecf0f1;
            &:hover, &:focus {
                color:#d9d9d9;
            }
        }
        .active > a {
            color:#d9d9d9;
            background-color:#296598;
            &:hover, &:focus {
                color:#d9d9d9;
                background-color:#296598;
            }
        }
        .open > a {
            color:#d9d9d9;
            background-color:#296598;
            &:hover, &:focus {
                color:#d9d9d9;
                background-color:#296598;
            }
        }
    }
    .navbar-toggle {
        border-color:#296598;
        &:hover, &:focus {
            background-color:#296598;
        }
        .icon-bar {
            background-color:#ecf0f1;
        }
    }
    .navbar-collapse, .navbar-form {
        border-color:#ecf0f1;
    }
    .navbar-link {
        color:#ecf0f1;
        &:hover {
            color:#d9d9d9;
        }
    }
}
@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > {
        li > a {
            color:#ecf0f1;
            &:hover, &:focus {
                color:#d9d9d9;
            }
        }
        .active > a {
            color:#d9d9d9;
            background-color:#296598;
            &:hover, &:focus {
                color:#d9d9d9;
                background-color:#296598;
            }
        }
    }
}

.error-txt{
    color: red;
}