.portion-list-tab-title {
  &__choose-portion-btn {
    background: white;
    border-color: #00bcd5;
    color: #00bcd5;
    margin-left: 8px;
    width: 140px;
    &:hover {
      color: #00bcd5;
    }
  }
  &__calculate-portion-voters-count-btn {
    width: 44px;
    font-size: 16px !important;
    background: white;
    border-color: #00bcd5;
    color: #00bcd5;
    margin-left: 8px;
    &_cancel{
      color: #e71e62;
      border-color: #e71e62;  
    }
  }
  &__new-portion-btn {
    background: #00bcd5;
    border-color: #00bcd5;
    width: 120px;
    &:hover {
      color: white;
    }
    .fa-plus {
      position: absolute;
      top: 9px;
      right: 15px;
    }
  }
}