.icon-result{
    align-items: center;
    text-align: center;
    .fa{
        font-size: 38px; 
    }
    .fa-check-circle{
        opacity: 0.5;
    }
    .fa-check-circle.success{
        color: #00c851;
        opacity: 1 !important;
    }

    .fa-check-circle.working{
        color: #c89900;
 opacity: 1 !important;
    }
    label{
        opacity: 0.5;
    }

    .fa-minus-circle{
        color: #d15b5bb5;
    }
    .fa-exclamation-circle{
        color: red;
    }

}


.details-result{
    display: flex;
    margin-top: 15px;
    .col{
        display: flex;
        flex-direction: column;
    }
    .col>span{
        font-size: 16px;
    }
}

.error-container{
   div{
    display: flex;
   }
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #f3ecec;
    .tit{
        opacity: 0.7;
        padding-bottom: 3px;
        font-weight: 600;
    }
    .error-group{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border: 1px solid #d15b5b52;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
        span{
            font-size: 18px;
        }
    }

    .error-group:hover{
      background-color:  #d15b5b2b;
     
    }
   
}

    