.campaign-sidebar {
  position: absolute;
  top: 71px;
  left: 15px;
  @media (min-width: 768px) {
    width: calc((100vw - 780px) / 2);
  }
  @media (min-width: 992px) {
    width: calc((100vw - 1000px) / 2);
  }
  @media (min-width: 1200px) {
    width: calc((100vw - 1200px) / 2);
  }
}

.campaign-sidebar__header {
  padding: 0 5px 10px;
  .campaign-status {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    min-width: 112px;
    cursor: pointer;
  }
}

.campaign-sidebar__history-block {
  margin: 0 15px;
  position: relative;
}

.sidebar-history {
  margin-right: 6px;
  border-right: 1px solid #c5cfd9;
  padding: 20px 22px 20px 0;
  font-size: 14px;
  &:before {
    content: '';
    display: list-item;
    color: #c5cfd9;
    position: absolute;
    right: 23px;
    font-size: 20px;
    line-height: 20px;
  }
  &_status_ok {
    &:before {
      color: #65ba31;
      right: 33px;
      font-size: 38px;
      line-height: 22px;
    }
    .fa-check {
      color: white;
      position: absolute;
      right: 3px;
      font-size: 7px;
      margin-top: 8px;
    }
  }
}

.sidebar-history__title {
  font-weight: bold;
}

.sidebar-history__date {
  color: #9eafbc;
  font-weight: bold;
  font-style: italic;
  font-size: 10px;
}
