.status-filter {
  @extend .tm-popup;
  min-width: 220px;
  left: 0;
}

.status-filter__general-actions {
  color: $active-blue;
  padding: 6px 15px;
  > span {
    cursor: pointer;
  }
}
.status-filter__status {
  padding: 6px 15px;
  margin: 0;
  & + & {
    border-top: 2px solid #eeeeee;
    margin-top: 0;
  }
}