/* Campaign Details Page */

.campaign-details {
  padding: 0 0 15px 0;
  dl {
    margin-bottom: 0;
  }
  dd {
    text-align: right;
    line-height: 30px;
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 6px;
  }
  dt {
    text-align: right;
    line-height: 36px; /* 30 + 2*1 padding + 2*2 border */
    font-weight: 400;
    width: 108px;
  }
}

.campaign-details__tab-section {
  background: #ffffff;
  min-height: 100px;
  border: 1px solid #e5eaee;
  margin: 40px 0 30px;
}

.campaign-details__tab-content {
  border-top: 1px solid #9bbfd7;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  .tabContnt {
    background-color: transparent;
    border-top: none;
    box-shadow: none;
  }
  .containerStrip {
    border-bottom: none;
  }

  .panel-body{
    background-color: #fff;
    .center{
      text-align: center;
    }
    .data-label{
      color:#2695F3;
    }
    .icon{
      height: 125px;
    }
  }
}

.campaign-details__title-row {
  font-size: 14px;
  margin: 0 0 6px;
  height: 24px;
}

.campaign-details__buttons {
  display: flex;
  justify-content: flex-end;
}

.campaign-details__name {
  font-size: 35px;
  font-weight: 600;
  color: #2ab4c0;
  display: inline-block;
  &.campaign-details__field .form-group {
    width: inherit;
  }
}

.campaign-details__input {
  color: inherit;
  font-size: inherit;
  height: 2.125em;
  &.form-control[disabled] {
    cursor: default;
    border-color: transparent;
    background: white;
    box-shadow: none;
    resize: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  @at-root {
    select#{&} {
      padding: 0 8px;
      &.form-control[disabled] {
        padding: 6px 12px;
      }
    }
  }
}

.campaign-details__field {
  .form-group {
    display: inline-block;
    width: calc(100% - 120px);
    margin-bottom: 0;
  }
  .fa-pencil {
    width: 6px;
    margin-right: 6px;
    color: #327da4;
    opacity: 0;
  }
  &:not(.campaign-details__field_readonly):hover {
    cursor: pointer;
    .campaign-details__input {
      cursor: pointer;
    }
    .fa-pencil {
      opacity: 1;
    }
  }
}

.campaign-detail-form:not(.campaign-detail-form_editable) {
  .campaign-details__field:not(.campaign-details__field_readonly):hover .campaign-details__input {
    border-color: #acbdbd;
  }
}

.campaign-detail-form_editable {
  .campaign-details__field:not(.campaign-details__field_readonly):hover {
    cursor: initial;
    .campaign-details__input {
      cursor: initial;
    }
    .fa-pencil {
      opacity: 0;
    }
  }
}

.campaign-detail-form:not(.campaign-detail-form_editable), .campaign-detail-form_editable .campaign-details__field_readonly {
    .rw-input {
      background: white;
      cursor: pointer;
      box-shadow: none;
    }
    .rw-datetimepicker {
      border-color: white;
      padding: 0;
      cursor: pointer;
    }
    .rw-select {
      display: none;
    }
}

.campaign-details__field_readonly {
  .fa-pencil {
    display: none;
  }
  .form-group {
    width: calc(100% - 108px);
  }
  :hover, :active {
      border-color: white !important;
  }
}

.campaign-details__tab-block {
  border: 1px solid #acbdbd;
  padding: 20px 20px 20px 20px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-right: 10px solid #2ab4c0;
  margin-bottom: 20px;
}

.campaign-details-header__field {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  width: 28.333%;
  &_sm {
    width: 15%;
    dt {
      width: 80px;
    }
    .form-group {
      width: calc(100% - 92px);
    }
    .campaign-details__field_readonly .form-group {
        width: calc(100% - 80px);
    }
  }
}

@import "campaign-sidebar";
@import "advanced-settings-tab";
