/*  Campaigns List */
$active-blue: #2196f3;

.campaigns-table {
  width: 100%;
  position: relative;
}

.campaigns-table__body {
  .campaigns-table__cell_col_status {
    padding: 0 20px;
  }
}

.campaigns-table__row {
  position: relative;
  height: 40px;
  line-height: 40px;
  transition: height 300ms;
  background: #fafafa;
  &:nth-child(odd) {
    background: #f5f5f5;
  }
  &_expanded {
    height: 115px;
    .fa-lg.campaigns-table__expand-row-btn {
      color: $active-blue;
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
      top: -1px;
    }
    .campaign-list-row__extra-info {
      height: 75px;
    }
  }
}

.fa-lg.campaigns-table__expand-row-btn {
  font-size: 75%;
  top: -2px;
  color: #5c5c5c;
  cursor: pointer;
  margin: 0 9px 0 6px;
}

.fa.campaigns-table__management-btn {
  color: #737373;
  padding: 0 4px;
  margin: 0 7px;
  cursor: pointer;
  &_active {
    color: $active-blue;
  }
}

.campaigns-table__header .campaigns-table__row {
  background: #bdbdbd;
  font-weight: bold;
  font-size: 14px;
}

.campaigns-table__management_expanded {
  position: relative;
  z-index:1000;
}

.campaigns-table__cell {
  float: right;
  padding: 0 5px;
  width: 12%;
  text-align: center;
  position: relative;
  min-height: 1px;
  &_col_id {
    width: 5%;
  }
  &_col_name {
    width: 35%;
  }
  &_col_actions {
    text-align: left;
  }
  & + * {
    border-right: 1px solid white;
  }
}

.campaigns-table__cell_col__sortable {
    cursor: pointer;
}

.campaigns-table__sorting {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.campaigns-table__active-sort {
  color: $active-blue;
}

.campaigns-table__filter-btn {
  cursor: pointer;
  position: absolute;
  left: 10px;
  &_active {
    color: $active-blue;
  }
}

.campaign-list-row__content {
  position: relative;
  height: 40px;
}
.campaign-list-row__extra-info {
  position: relative;
  background: #ccdeea;
  height: 0;
  padding: 0 38px;
  overflow: hidden;
  transition: all 300ms;
}

.campaign-list-row__extra-info-block {
  display: inline-block;
  padding: 15px 45px;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
}

.campaign-list-row__management {
  position: relative;
  background: green;
  height: 200px;
  line-height: 75px;
  width: 300px;
  margin-right:100px;
  margin-top:20px;
}
.campaign-management {
  @extend .tm-popup;
  min-width: 163px;
  line-height: 36px;
  font-size: 14px;
  margin-top: 1px;
  text-align: right;
}

.campaign-management__row {
  &:hover {
      background-color: #FAFAFA;
  }
  & + & {
    border-top: 2px solid #eeeeee;
  }
  a {
    color: #000;
    padding: 10px 15px;
  }
}

.filters__info-label {
  display: inline-block;
  width: calc(100% + 15px);
}

.campaign-status {
  padding: 3px 10px;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  width: 100%;
  line-height: 20px;
  display: inline-block;
  &_active {
    background: #8bc34a;
  }
  &_canceled, &_closed {
    background: #f44336;
  }
  &_setup {
    background: #673ab7;
  }
  &_ready, &_suspended {
    background: #00bcd4;
  }
}

.campaign-list-filters {
    display: flex;
    margin-top: 15px;
    .control-label {
      padding-left: 6px;
    }
    .rw-datetimepicker {
      display: inline-block;
      width: 150px;
    }
    >div:last-of-type {
        margin-right: auto;
    }
    >div:first-of-type {
        margin-left: 52px;
    }
}

.campaigns-table__phone-icon {
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 17px;
  background: center no-repeat;
  background-size: contain;
  position: relative;
  top: -1px;
  margin: 0 4px;
  &_mode_manual {
    background-image: url('images/phone-out.png');
  }
  &_mode_predictive {
    background-image: url('images/incoming-phone-call-symbol.png');
  }
}
@import "status-filter";
