.contact-info-phones {
  font-size: 15px;

  &__sub-title {
    padding-right: 23px;
    padding-top: 9px;
  }

  &__items {
    margin-top: 10px;
    padding-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8dde9;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-right: 23px;
    margin-left: 23px
  }

  &__item-input {
    color: #2f363e;

    input {
      height: 23px;
    }
  }

  &__icon {
    .fa {
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
  }

  &__icon-mobile {
    margin-right: 10px;
    padding: 8px 9px 4px 9px;
    border-radius: 20px;
    background-color: #ab67c8;
  }

  &__icon-phone {
    margin-right: 10px;
    padding: 8px 9px 4px 8px;
    border-radius: 16px;
    background-color: #38c099;
  }

  &__icon-kosher {
    color: white;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 7px 8px 5px 8px;
  }

  &__item-actions {
    font-size: 19px;
  }

  &__item-action-undo, &__item-action-delete {
    margin-left: 5px;
    padding: 4px;
    cursor: pointer;

    .fa {
      cursor: pointer;
    }
  }

  &__new-item-input {
    input {
      height: 23px;
    }
  }

  &__new-item-phone-number {
    border: 1px solid #59b4f4;
  }

  &__new-icon {
    background-color: gray;
    cursor: pointer;

    .fa {
      color: white;
      font-size: 16px;
    }
  }

  &__new-icon-mobile {
    margin-right: 10px;
    padding: 8px 9px 4px 9px;
    border-radius: 20px;
  }

  &__new-icon-phone {
    margin-right: 10px;
    padding: 8px 9px 4px 8px;
    border-radius: 16px;
  }

  &__new-icon-kosher {
    background-color: gray;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 7px 8px 5px 8px;
  }

  &__new-item-actions {
    font-size: 19px;
    color: #a4acc6;
  }

  &__new-item-action-undo, &__new-item-action-delete {
    margin-left: 5px;
    padding: 4px;
    background-color: #f0f4f7;
    cursor: pointer;
  }
}
.disabledClass{
  opacity: 0.4 !important;
  cursor: not-allowed !important;
}