.contact-info-email {
  margin-top: 10px;
  padding-bottom: 30px;

  &__sub-title {
    padding-right: 23px;
    padding-top: 21px;
    margin-bottom: 16px;
  }

  &__email-input {
    padding-right: 23px;
    margin-bottom: 10px;

    input {
      width: 200px;
    }
  }

  &__undo-email-change {
    margin-right: 10px;
    cursor: pointer;
    background-color: #f0f4f7;
    color: #a4acc6;
  }

  &__contact-via-mail {
    padding-right: 23px;

    input {
      vertical-align: middle;
    }
  }

  &__contact-via-mail-text {
    vertical-align: middle;
    margin-right: 5px;
  }
}