.employees-list-row {
  &-data {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 40px;

    &__field {
      padding-right: 13px;
      font-size: 15px;
    }
  }

  &_inactive &-data {
    color: #bdbdbd;
  }
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  @at-root .employees-list-row-data:nth-child(even) {
    background: #f5f5f5;
  }
}

.fa-floppy-o{
  color:#2096f6;
}
.fa-floppy-o.invalid{
  color:#a94442;
}