$blue-900: #323A6B;
$blue-700: #498BB6;
$blue-500: #2AB4C0;
$blue-300: #CCDEEA;
$blue-100: #F4F7F7;
$blue-hover:#216692;
$red: #CE3C45;
$dark-red: #9E383E;
$orange: #EFA614;
$dark-orange: #CB8F17;
$green-500: #69B140;
$green-700: #008800;
$green-900: #005D00;


a{
  color: $blue-900;
  text-decoration: underline;
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,label,address,p, .table, .form-group{
  margin:0;
}
ol{
  padding: 0;
}

h1{
  font-size: 28px;
  font-weight: 400;
  margin-left: 150px;
  padding-right: 25px;
  border-right: 1px solid #fff;
  line-height: 1;
  margin-right: 15px;
}
button{
  background-color: transparent;
  border: 0;
}
.base-btn{
  padding: 0 29px;
  height: 38px;
  font-size: 18px;
  border: 0;
  color: $white;
  border-radius: 3px;
  background-color: $blue-700;
  &:hover,&:focus,&.active{
    background-color: $blue-hover;
  }
  &.disabled,&:disabled{
    opacity: 0.3;
    background-color: $blue-700;
    color: #fff;
  }
}
.base-btn-500{
  background-color: $blue-500;
}
a.base-btn{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  float: left;
  &:hover{
    color: #fff;
    text-decoration: underline;
  }
}

.turquoise-btn{
  background-color: $blue-500;
  &:hover,&:focus,&.active{
    background-color: #268E97;
  }

}

.btn-small{
  padding: 0 7px;
  font-size: 16px;
  height: 26px;
}
.red-btn{
  background-color: $red;
  width: 92px;
  height: 26px;
  color: $white;
  border-radius: 3px;
}
.green-btn{
  background-color: $green-500;
  width: 92px;
  height: 26px;
  color: $white;
  border-radius: 3px;
}
.orange-btn{
  background-color: $orange;
  width: 92px;
  height: 26px;
  color: $white;
  border-radius: 3px;
}

.outline-button{
  border: 1px solid $blue-700;
  color: $blue-700;
  background-color: $white;
  &:hover,&:focus,&.active{
    color: $blue-hover;
    border-color: $blue-hover;
    background-color: $white;
  }
}

.outline-turquoise-button{
  border: 1px solid $blue-500;
  color: $blue-500;
  background-color: $white;
  &:hover,&:focus,&.active{
    color: #268E97;
    border-color: #268E97;
    background-color: $white;
  }
}

.btn-icon{
  width: 38px;
  height: 38px;
  border:0;
  border-radius: 3px;
  &.disabled,&:disabled{
    opacity: 0.3;
  }
}

.btn-icon-green{
  background-color: #4D7228;
  &:hover,&:focus,&.active{
    background-color: #37531C;
  }
}

.btn-icon-blue{
  background-color: $blue-500;
  &:hover,&:focus,&.active{
    background-color: $blue-hover;
  }
}
.btn-with-icon{
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 151px;
  line-height: 12px;
  img{
    margin-left:5px;
  }
}
.small-btn-with-icon{
  height: 26px;
  font-size: 16px;
  line-height: 12px;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img{
    margin-left:5px;
  }
}
a.btn-with-icon{
  text-decoration: none;
  &:hover{
    color: #fff;
    text-decoration: underline;
  }
}

.main-title{
  color: $blue-500;
  font-size: 32px;
  letter-spacing: -0.32px;
  font-weight: 600;
}
.sub-title{
  color: $blue-700;
  font-size:18px;
  font-weight: 600;
}
.sub-title-dark{
  color: $blue-900;
  font-size:18px;
  font-weight: 600;
}
.sub-title-with-border{
  color: $blue-700;
  font-size:18px;
  font-weight: 600;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}
.tab-title{
  color: $blue-900;
  font-size:22px;
  font-weight: 600;
}

.black-sub-title{
  color: $black;
  font-size: 18px;
  font-weight: 400;
}
.black-small-title{
  color: $black;
  font-size: 16px;
  font-weight: 400;
}
.black-medium-title{
  color: $black;
  font-size: 17px;
  font-weight: 400;
}
.black-small-title-bold{
  color: $black;
  font-size: 16px;
  font-weight: 600;
}
.link-title{
  color:#323A6B;
  font-size: 16px;
  text-decoration: underline;
}
.form-control{
  width: 203px;
  height: 33px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 16px;
  color: #757575;
  padding: 0 10px;
  text-align: right;
}
.form-control.datepicker{
  // background-image: url("/site/src/images/calendar.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}
select{
  // background-image: url("/site/src/images/caret-select.svg");
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  option{
    color: #757575;
  }
} 
label{
  font-size: 17px;
  color: #000;
}
.label-bold{
  font-size: 17px;
  font-weight: 700;
  color: #000;
}
input[type="number"]{
  text-align: right;
  direction: rtl;
}
/* custom checkbox */
input[type="checkbox"]{
  width: 24px;
  height: 24px;
  min-width:unset;
  top: 3px;
}
.custom-checkbox{
  .custom-control-input:checked{
    &~.custom-control-label{
      &::before{
        background-color:$white;
      }
      &::after{
        width: 24px;
        height: 24px;
        border: 1px solid #000000;
        border-radius: 2px;
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      }
    } 
  }
  .custom-control-label{
    line-height: 30px;
    padding-right: 5px;
    &:before{
      width: 24px;
      height: 24px;
      border: 1px solid #000000;
      border-radius: 2px;
    }
    &:after{
      width: 24px;
      height: 24px;
    }
  }
  
} 

.custom-radio{
  input[type="radio"]{
    width: 24px;
    height: 24px;
  }
  .custom-control-input:checked{
    &~.custom-control-label{
      &::before{
        background-color:$white;
      }
      &::after{
        width: 24px;
        height: 24px;
        border: 1px solid #498BB6;
        border-radius: 12px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23498BB6'/%3e%3c/svg%3e");
        background-size: 18px;
      }
    }

  }
  .custom-control-label{
    line-height: 30px;
    padding-right: 5px;
    &:before{
      width: 24px;
      height: 24px;
      border: 1px solid #498BB6;
      border-radius: 12px;
    }
    &:after{
      width: 24px;
      height: 24px;
    }

  }

}

input[type="time"].form-control{
  width: 203px;
  // background-image:url("/site/src/images/clock.svg")
  background-repeat: no-repeat;
  background-position: 11% 50%;
  flex-direction: row-reverse;
  text-align: right;
  position: relative;
}

.collapse-title{
  color: $blue-700;
  font-size:20px;
  font-weight: 600;
}
a.collapse-title{
  text-decoration: none;
  margin-right: 25px;
  width: 100%;
  display: block;
  position: relative;
  &:after{
      content:'';
      // background-image: url("/site/src/images/collapse-caret.svg");
      position: absolute;
      right: -20px;
      width: 9px;
      height: 7px;
      top: 13px;
  }
  &[aria-expanded=false]{
    &:after{
      transform: matrix(0, 1, -1, 0, 0, 0);
    }
    
  }
  &:hover{
    color: $blue-700;
  }
}

.collapse-content{
  padding-right: 25px;
}
.collapse-item{
  margin-bottom: 15px;
}

.collapse-portion{
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  background-color: #fafafa;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  text-decoration: none;
  position: relative;
  margin-top: 10px;
  &:after{
    content:'';
    // background-image: url("/site/src/images/collapse-close.svg");
    position: absolute;
    right: 10px;
    width: 21px;
    height: 21px;
    top: 10px;
}
&[aria-expanded=false]{
  &:after{
    // background-image: url("/site/src/images/collapse-open.svg");
  }
  
}
  &:hover{
    text-decoration: none;
  }
  .r-side,.l-side{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
  h3{
    font-size: 18px;
    font-weight: 600;
    color:#000;
    margin-right: 30px;

  }
}
.collapse-portion-content{
  padding: 0 13px 13px;
  border: 1px solid #D3D3D3;
  border-top: 0;
  .row{
    justify-content: start;
    .form-group{
      margin-bottom: 10px;
      margin-top: 5px;
      margin-left: 13px;
      &:last-child, &:nth-child(3n+3){
        margin-left: 0;
      }
      .form-control{
        width: 203px;
        @media (min-width: 1024px) and (max-width: 1540px) {
          width: 170px;
        }
      }
    }
  }
  .sub-title-collapse{
    background-color: $blue-300;
    color: $blue-700;
    width:100%;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    padding: 0 15px;
    line-height: 40px;
    margin-right: -13px;
    margin-left: -13px;
    width: auto;
  }
  .sub-content-collapse{
    padding: 10px 0 15px;
    position: relative;
  }
  .above-input{
    display: flex;
    justify-content: space-between;
    .select-operation{
      display:flex;
      justify-content: flex-end;
    }
  }
}
.filter-collapse-content{
  .filter-collapse-item{
    .delete-item{
      color: $blue-900;
      text-decoration: underline;
      font-size: 16px;
      margin-top: 20px;
      display: none;
    }
    &.cloned{
      .delete-item{
        display: block;
      }
    } 
  }
}
.add-filters-portion{
  margin-bottom: 5px;
  img{
    border-radius: 3px;
    background-color: $blue-700;
    padding: 5px;
    color:$white;
    margin-left: 10px;
    
  }
}
.selection-property{
  border-radius: 2px;
  background: #BCBCBC;
  width: 75px;
  height: 28px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: none;
  width:20px;
  height: 20px;
}

/* bootstrap rtl select */
.dropdown.bootstrap-select{
  display: block;
  width: 203px!important;
  @media (min-width: 1024px) and (max-width: 1540px) {
    width: 170px!important;
    .dropdown-menu.show{
      max-width: 165px;
    }
  }
  .dropdown-toggle,.dropdown-toggle:hover,.dropdown-toggle:active{
    border: 1px solid #CCCCCC;
    height: 33px;
    border-radius: 4px;
    font-size: 16px;
    color: #757575;
    padding: 5px 10px;
    width: 203px;
    background-color: #fff;
    @media (min-width: 1024px) and (max-width: 1540px) {
      width: 170px;
    }
    .filter-option { 
      text-align: right; 
      &.count-options{
        width: 25px;
        height: 25px;
        background-color: $blue-700;
        border-radius: 50%;
        display: flex;
        color: #fff;
        font-weight: 600;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 17px;
      }
    }
  } 
  .dropdown-menu{
    li{
      a{
        span.text{ 
          font-size: 16px;
          color: #757575;
        }
      }
    }
  }
  &.show-tick{
    .dropdown-menu{
      li{
        a{
          span.text{ 
            margin-right: 0; 
            margin-left: 34px; 
          }
        }
        &.selected{
          a span.check-mark{ 
            right: initial; 
            left: 15px; 
          }
        }
      }
    }
  }
}


.dropdown-menu {
  padding: 0;
  width: 180px;
  .dropdown-item{
    padding: 5px 12px;
    color: #61778F;
    &.active,&:hover,&:focus{
       font-weight: 600; 
       background-color: $blue-300;
    }
  }
}


.card{
  box-shadow: 0px 0px 6px #E7E8EE;
  border: 0;
  border-radius: 0;
  margin-bottom: 25px;
  .card-body{
    padding: 25px 25px;
  }
}
.inner-card{
  padding: 25px 25px;
  background-color: $blue-100;
  margin-bottom: 20px;
}

/* tooltip */
.tooltip{
  // font-family: "adobe-clean", sans-serif;
  // font-family: 'Assistant', sans-serif;
  border-radius: 5px;
  .tooltip-inner{
    background-color: $blue-900;
    ol{
      li{
        margin-right: 15px;
      }
    }
  }
  .arrow{
    &:before{
      border-top-color: $blue-900;
    }
  }
}
/* custom file */
.custom-file{
  height: 33px;
  .custom-file-input{
    height: 100%;
  }
  .custom-file-label{
    height:100%;
    &::after{
      content:'הוספה';
      border-radius: 3px;
      color: #fff;
      font-size: 16px;
      height: 33px;
      background: $blue-700;
    }
  }
}

/* modal */
.modal{
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  max-width: 860px;
  margin-top: 120px;
}
.modal-header{
  padding: 8px 30px 8px 20px;
  align-items: center;
  .close{
      padding: 0;
      margin: 0;
      font-size: 30px; 
      opacity:1;
      &:not(:disabled):not(.disabled):hover, &:not(:disabled):not(.disabled):focus{
        opacity: 1;
      }
  }
}
.modal-body{
  padding: 30px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000000;
}
.modal-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-title{
  font-size: 26px;
  font-weight: 600;
  color: $blue-700;
}

.modal-remove{
  .modal-dialog{
    max-width: 673px;
    .modal-body{
      display: flex;
      padding: 50px 30px;
      .modal-content-remove{
        margin-right: 50px;
        p{
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 15px;
        }
        h6{
          font-size: 18px;
          font-weight: 600;
          direction: ltr;
        } 
      }
    }
  }
}

body{
  color: $black;
  font-size: 18px;
  background-color: $blue-100;
  font-weight: 400;
  // font-family: "adobe-clean", sans-serif;
  // font-family: 'Assistant', sans-serif;
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1430px;
}

/* BREADCRUMB */
nav{
  .breadcrumb{
      margin:8px 0;
      padding:12px 0;
      background-color: transparent;
      .breadcrumb-item{
          font-size: 14px;
          color: $blue-700;
          a{
              font-size: 14px;
              color: $blue-700 
          }
          & +.breadcrumb-item{
              padding-right: 5px;
              &:before{
                  content:">";  
              }
          }
      }
  }
}

.toast-success-survey{
  position: absolute;
  top:-24px;
  left:55%;
  transform: translateX(-55%);
  background-color: $green-500;
  color: #fff;
  width: 270px;
  height: 46px;
 
  text-align: center;
  font-size: 21px;
  .toast-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
    img{
      margin-left: 20px;
    }
  }
}


