header{
    background-color: $blue-900;
    color: $white;
    .header-content{
        display: flex;
        justify-content: space-between;
        height: 63px;
        .r-side{
            display: flex;
            justify-content: start;
            height: 100%;
            .hamburger-menu{
                width: 66px;
                margin-left: 16px;
                border-left: 1px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    border:0;
                    font-size: 15px;
                    .navbar-toggler-icon{
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                    }
                }
            }
            h1{
                @media (min-width: 1024px) and (max-width: 1540px) {
                    font-size: 23px;
                }
            }
        }
        .group-name{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            h2{
                font-size: 22px;
                border: 1px solid;
                padding: 5px;
            }
        }
        .main-menu,.user-menu{
            display: flex;
            align-items: center;
            nav{
                display: flex;
                height: 63px;
                align-items: center;
                position: relative;
            }
            .dropdown{
                height: 100%;
                .dropdown-toggle{
                    height: 100%;
                    &#favorite-list, &#last-voters{
                        &:after{
                            content: none;
                        }
                    }

                }
                .dropdown-menu{
                    background-color: $blue-900;
                    border-top: 1px solid #CCDEEA;
                    border-radius: 0;
                    margin-top: 0px;
                    width: auto;
                    .dropdown-item{
                    text-decoration: none;
                    padding: 5px 10px;
                    color: #ffffff;
                    &:hover{
                        background-color: $blue-700;
                    }
                    }
                    .dropdown-divider{
                        margin: 0;
                    }
                    .drodown-w-icon-item{
                        img{
                            padding-left: 10px;
                        }
                    }
                } 
            }
                button{
                    margin-left: 24px;
                }
                .top-search-area{
                    width: 400px;
                    display: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 98%;
                    background-color: $blue-900;
                    align-items: center;               
                    input{
                        padding-right: 10px;
                        &::-webkit-input-placeholder { /* Edge */
                            color: #fff;
                        }  
                        & :-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: #fff;
                        }  
                        &::placeholder {
                            color: #fff;
                        }
                        &:focus,&:active,&:active{
                            background-color: #E8F0FE;
                            color:#000;
                            &::-webkit-input-placeholder { /* Edge */
                                color: #000;
                            }  
                            & :-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: #000;
                            }  
                            &::placeholder {
                                color: #000;
                            }
                        }
                    }
                    select{
                        width: 80px;
                        padding: 0 10px;
                        background-image: none;
                        -webkit-appearance: menulist;
                    }
                    button{
                        color: #28313f;
                        padding: 3px 12px;
                        background-color: $blue-300;
                        border-color: $blue-300;
                        color: #28313f;
                        border-radius: 4px;
                        &:hover,&:focus,&:active{
                            background-color: $blue-700;
                            border-color: $blue-700;
                            color: #fff;
                        }
                    }
                    input,select{
                        background-color: transparent;
                        border: 1px solid #ffffff;
                        border-radius: 2px;
                        height: 30px;
                        color: #ffffff;
                        margin-left: 10px;
                    }
                }
                .search-result{
                    z-index: 1000000;
                    display: none;
                    .search-result-inner{
                        position: absolute;
                        width: 400px;
                        display: flex;
                        top: 100%;
                        background-color: #323A6B;
                        padding: 5px 10px;
                        border-top: 1px solid #CCDEEA;
                        justify-content: space-between;
                        h5{
                            display: inline-block;
                            font-size: 18px;
                            a{
                                color: white;
                                text-decoration: none;
                                padding: 5px;
                            }
                        }
                    }
                }

            
        }
        .user-menu{
            height: 100%;
            display: flex;
            justify-content: end;
            border-right: 1px solid #fff;
            margin-left: 50px;
            padding-right: 16px;
            .dropdown-menu{
                .custom-switch{
                    margin: 5px 10px;
                    label{
                        color: #fff;
                    }
                }
                .custom-control-input{
                    &~.custom-control-label{
                        &:before {
                            color: #fff;
                            background-color: #cccccc;
                            border-color:#cccccc;
                            outline: 0;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                        }
                        &:after{
                            background-color: #fff;
                        }
                   }
                   &:checked~.custom-control-label::before {
                        color: #fff;
                        background-color: #008000;
                        border-color:#008000;
                        outline: 0;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    } 
                } 
            }
            button{
                border:0;
                color:#fff;
            }
            
        }
    }

    
}