.upload-container {
    position: relative;
    text-align: center;
    height: 250px;
    width: 600px;
    
}
.upload-container input {
    background-image: url('../../../../public/Images/icon/upload_icon.png') !important;
    border: 1px solid #e2e2e3;
    background-repeat: no-repeat !important;
    background: #f3f3f3;
    outline: 2px dashed #478ab5;
    outline-offset: -10px;
    text-align: center !important;
    width: 100%;
    height: 250px;
    margin: auto;
    /* padding: 70px 206px; */
    color: #478ab5;
    font-weight: bold;
    background-position: center !important;
    background-size: 84px 84px !important;
    padding: 20px;
}

.upload-container input:hover {
    background-image:url('../../../../public/Images/icon/upload_icon.png') !important;
}   
.upload-container input:before {
    position: absolute;
    top: 50px;
    left: 205px;
    content: "לחץ או גרור קובץ להעלאה";
    color: #898989;
    font-weight: 900;
}   
.upload-btn {
    margin-left: 300px;
    padding: 7px 20px;
}  

#file-upload-button{
    color: red !important;
}


input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    margin: auto;
    margin-left: 10px;
    display: none;
  }
  
  /* input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  } */

.btn_cancel{
    color: #337ab7;
    border: 1px solid;
    margin-left: 10px;
}

.tit_name_file{
    width: -webkit-fill-available;
    line-height: 34px;
}