.transportation-details {
  &__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  &__column1 {
    width: 47%;
    padding-right: 23px;
  }

  &__column2 {
    width: 47%;
  }

  &__column3 {
    width: 6%;
  }

  &__label {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7;
    color: #8690a2;
  }

  &__time {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__crippled {
    width: 45%;
  }

  &__passengers {
    width: 45%;
  }

  &__coordination {
    background-color: #99cb84;
    width: 80%;
    margin-top: 22px;
    text-align: center;
  }
}