.transportation-drivers {
  background-color: $blue-light;

  &__row {
    display: flex;
    padding-right: 10px;
  }

  &__attention {
    color: $blue-medium;
    font-weight: bold;
    flex-grow: 1;
    padding-right: 10px;
  }

  &__close {
    padding-left: 10px;

    .fa-times-circle-o {
      background-color: $blue-light;
      color: #ffffff;
      border: none;
      font-size: 17px;
      cursor: pointer;
    }
  }

  &__list-title {
    color: #ffffff;
    font-weight: bold;
    padding-right: 10px;
    margin-bottom: 16px;
  }

  &__list-col2 {
    margin-right: 10px;
  }

  &__driver-name {
    color: #ffffff;
  }
}