.possible-answer {
  display: flex;
  margin: 5px 0;
  position: relative;
  &__order-handle {
    font-size: 17px;
    position: absolute;
    line-height: 46px;
    right: -20px;
    cursor: pointer;
  }
  &__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background: #ebebeb;

    .form-group {
      padding: 6px 12px;
      margin: 0;
      flex: 1 0 0;
    }
  }
  &__btns {
    width: 175px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__plain-text.form-group {
    font-size: 15px;
    margin: 1px 13px 0 -13px;
    line-height: 33px;
  }
}