.questionnaire-details {
  background: #fafafa;
  margin-bottom: 20px;
  padding: 15px;

  &__btn {
    color: white;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    line-height: 27px;
    width: 88px;
    font-size: 13px;

    & + & {
      margin-right: 5px;
    }

    &_type_save {
      background: #4a8ab6;
    }
    &_type_cancel {
      background: white;
      color: #2196f3;
      @include prefix(box-shadow, inset 0px 0px 0px 1px #2196f3);
    }
    &_type_freeze {
      background: #319f96;
    }
    &_type_delete {
      background: #e91d62;
    }

    &:disabled {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65;
    }
  }
}