.address-actual-address {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
      border-color: #999999;

      a {
        font-size: 11px;
        color: #999999;
      }
  }

  &__undo {
    margin-left: 5px;
  }

  &__update-to-mi {
    cursor: pointer;
    padding: 2px 8px 3px;
    background-color: white;
  }

  .fa-undo {
    font-size: 14px;
    color: #999999;
  }

  &__data {
    display: flex;
    justify-content: flex-start;
    padding: 5px 23px;
  }

  &__column {
    width: 42%;
  }

  &__label {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7;
    color: #8690a2;
  }


  &__row-input {
    margin-top: 2px;
    margin-bottom: 7px;

    .form-control {
      height: 28px;
      width: 184px;
    }
  }

  &__row-combo {
    margin-top: 2px;
    margin-bottom: 7px;
    width: 188px;
  }

  &__verified-row {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding-right: 23px;
  }

  &__verified-column {
    margin-top: 3px;
    margin-bottom: 3px;

    span {
      margin-right: 3px;
      vertical-align: top;
      opacity: 0.5;
    }

    input {
      vertical-align: middle;
    }

    input:checked + span {
      opacity: unset;
      font-weight: bold;
    }
  }

  &__verified-address {
    color: #38c775;
  }

  &__unverified-address {
    color: #c9223e;
  }
}

.form-combo.drawer-combo .form-control {
  background-color: white;
}