.household-general {
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px;

  &__detail {
    display: flex;
    align-items: center;
    height: 25px;
    margin: 11px 0;
  }
  &__label {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7;
    color: #8690a2;
    width: 125px;
  }
  &__value {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.11;
    color: $black-light-1;
  }
  &__select {
    width: 160px;
  }
  &__apply-all {
    font-size: 14px;
    line-height: 1.7;
    font-weight: normal;
    color: $blue-medium;
    cursor: pointer;
    margin-right: 14px;
  }
}