.additional-data {
  padding-right: 23px;
  margin-top: 5px;

  &__header {
    padding-top: 21px;
    font-weight: bold;
    font-size: 16px;
    color: #2a323d;
    margin-bottom: 10px;
  }

  &__data-row {
    display: flex;
  }

  &__metakey-name {
    font-size: 15px;
    margin-bottom: 14px;
  }

  &__column {
    padding-left: 13px;

    ul {
      padding-right: 0;
    }

    li {
      width: 125px;
      height: 34px;
      margin-bottom: 6px;
      list-style-type: none;
      cursor: pointer;
    }
  }

  &__active-status {
    color: white;
    background-color: #5cc68b;
  }

  &__non-active-status {
    color: #2f3740;
    background-color: #f8f8f8;
  }

  &__meta-value-name {
    text-align: center;
    padding-top: 8px;
  }
}

.additional-data__data-row .additional-data__column:not(:last-child) {
  border-left: 1px solid #e0e0e0;
}

.additional-data__data-row .additional-data__column:not(:first-child) {
  padding-right: 13px;
}