.support-status {

  padding-right: 23px;

  &__header {
    padding-top: 21px;
    font-weight: bold;
    font-size: 16px;
    color: #2A323D;
  }

  &__data-row {
    display: flex;
  }

  &__column-tm-title {
    padding-top: 14px;
    font-size: 15px;
  }

  &__column-tm-status {
    border-left: 1px solid #e0e0e0;
    padding-left: 13px;

    li {
      width: 125px;
      height: 34px;
      margin-bottom: 6px;
      list-style-type: none;
    }
  }

  &__active-status {
    color: white;
    background-color: #5cc68b;
    cursor: not-allowed;
  }

  &__non-active-status {
    color: #2f3740;
    background-color: #f8f8f8;
    cursor: pointer;
  }

  &__tm-status-name {
    text-align: center;
    padding-top: 8px;
  }

  &__column-final-status {
    margin-right: 21px;
  }

  &__final-status-header {
    padding-top: 14px;
    font-size: 15px;
  }

  &__final-status-box {
    color: #2bab84;
    background-color: #daf5ed;
    width: 125px;
    height: 34px;
    font-weight: bold;
    margin-top: 15px;
  }

  &__final-status-name {
    text-align: center;
    padding-top: 8px;
  }
}