.call-note {
  height: 130px;
  padding: 22px 0 24px 12px;
  box-sizing: border-box;
  width: calc(100% - 57px);
  &__note {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(175, 195, 202, 0.35);
    background-color: rgb(247, 246, 196);
    resize: none;
    padding: 12px 19px;
    color: #808080;
    font-size: 14px;
    border-radius: 2px;
  }
}