.question {
  background: white;
  flex-grow: 1;
  padding: 30px 20px 15px;
  width: calc(100% - 57px);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  &__number {
    font-weight: bold;
    color: $black-light-1;
    font-size: 13px;
  }
  &__text {
    font-weight: bold;
    color: #1d8cd6;
    font-size: 18px;
    margin: 15px 0 20px;
  }
  &__nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}